In [1]:
import os, shutil, fnmatch, time, tkinter
from tkinter.filedialog import askdirectory
import pandas as pd

In [2]:
#prompt user for the file directory. Will open as a popup window named "tk"
tk_root = tkinter.Tk()
path_input = askdirectory(title='Select Folder')  # shows dialog box and return the path
print(path_input)
tk_root.destroy()

H:/Microscope Images/Widefield - Spectra - Nikon Eclipse Ti 2/20230517_NHDF-SHDF-P3_AA2P/003/Sorted

In [5]:
list_pos= []
frames = len(os.listdir(path_input+'/A02/ph1_images'))
wa_df = pd.DataFrame({'Frame': range(1,frames+1)})
for folder in os.listdir(path_input):
    list_pos.append(folder)
    wa_df[folder] = pd.read_table(path_input+'/'+folder+'/segment_ph1/wound_area_vs_frame.txt',header = None)

display(wa_df)

def append_to_excel(fpath, df, sheet_name):
    with pd.ExcelWriter(fpath, mode="a") as f:
        df.to_excel(f, sheet_name=sheet_name)

xls_name = "20230517"
append_to_excel('H:\\Microscope Images\\Widefield - Spectra - Nikon Eclipse Ti 2\\20230517_NHDF-SHDF-P3_AA2P\\wound_area.xlsx', wa_df,xls_name+"_cl")

,Frame,A10,B02,B03,B06,B08,B09,B10,B11,B12,...,G09,G12,H01,H04,H05,H06,H07,H09,H10,H11
0,1,5625.0,2588.0,4307.0,5138.0,8217.0,7469.0,5872.0,6707.0,6809.0,...,7982.0,4934.0,3358.0,2989.0,3185.0,5845.0,4034.0,8381.0,8335.0,4733.0
1,2,6011.0,2635.0,4626.0,5887.0,8470.0,7646.0,6487.0,7404.0,7489.0,...,8788.0,5340.0,3289.0,2835.0,3220.0,6071.0,4463.0,9392.0,9198.0,4939.0
2,3,5638.0,2884.0,4729.0,6583.0,8443.0,7568.0,6439.0,7384.0,7913.0,...,8394.0,5804.0,3416.0,3087.0,3218.0,6471.0,4604.0,9576.0,9715.0,4994.0
3,4,5846.0,3175.0,4835.0,6530.0,8543.0,7358.0,6586.0,7421.0,8477.0,...,8408.0,5866.0,3678.0,3327.0,3395.0,6630.0,4915.0,9619.0,9886.0,5067.0
4,5,5968.0,3301.0,4847.0,6340.0,8440.0,7073.0,6731.0,7155.0,8578.0,...,8385.0,6072.0,3752.0,3546.0,3513.0,6887.0,4731.0,10007.0,10057.0,5074.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,158.0,1973.0,2264.0,2294.0,2902.0,2037.0,282.0,104.0,3980.0,...,3738.0,354.0,1657.0,299.0,1106.0,731.0,761.0,1491.0,1973.0,767.0
73,74,197.0,2300.0,151.0,2464.0,309.0,1732.0,3186.0,227.0,285.0,...,110.0,1914.0,1369.0,416.0,755.0,548.0,996.0,1457.0,2009.0,842.0
74,75,3084.0,734.0,1491.0,2865.0,225.0,2007.0,155.0,144.0,377.0,...,114.0,1732.0,1164.0,537.0,967.0,819.0,177.0,2171.0,1774.0,1663.0
75,76,227.0,2431.0,2008.0,2692.0,2782.0,2019.0,2592.0,125.0,105.0,...,125.0,3616.0,1244.0,222.0,1346.0,1544.0,1662.0,833.0,1676.0,1643.0
76,77,356.0,2634.0,1673.0,2671.0,2690.0,843.0,2834.0,96.0,272.0,...,60.0,2171.0,1733.0,248.0,1431.0,2265.0,479.0,1886.0,1806.0,1028.0