In [2]:
import os, shutil, fnmatch, time, tkinter
from tkinter.filedialog import askdirectory
import pandas as pd

In [3]:
#prompt user for the file directory. Will open as a popup window named "tk"
tk_root = tkinter.Tk()
path_input = askdirectory(title='Select Folder')  # shows dialog box and return the path
print(path_input)
tk_root.destroy()

E:/Cytation 5/ASV/230117_181135_20230117_SDP4_AI/202301017_SDP4_Output

In [7]:
list_pos= []
frames = len(os.listdir(path_input+'/A1/ph1_images'))
wa_df = pd.DataFrame({'Frame': range(1,frames+1)})
for folder in os.listdir(path_input):
    list_pos.append(folder)
    wa_df[folder] = pd.read_table(path_input+'/'+folder+'/segment_ph1/wound_area_vs_frame.txt',header = None)

display(wa_df)

def append_to_excel(fpath, df, sheet_name):
    with pd.ExcelWriter(fpath, mode="a") as f:
        df.to_excel(f, sheet_name=sheet_name)

xls_name = "202301017_SDP4_Output"
append_to_excel('F:/Microscope Images/Code_processed_eclipse_data/Wound_area_code_output.xlsx', wa_df,xls_name+"_cl")

,Frame,A1,A10,A11,A3,A5,A7,A9,B1,B10,...,G1,G12,G2,G3,G5,G6,G9,H1,H6,H9
0,1,7147.0,3465.0,4448.0,650.0,1535.0,4786.0,6150.0,4904.0,2051.0,...,134.0,2221.0,2547.0,8520.0,1564.0,949.0,3694.0,74.0,3170.0,1103.0
1,2,5006.0,2984.0,5798.0,204.0,1654.0,4601.0,7254.0,4761.0,3536.0,...,50.0,2507.0,2578.0,9592.0,2020.0,1262.0,4255.0,172.0,3339.0,579.0
2,3,4818.0,3395.0,5333.0,1496.0,1571.0,3971.0,7092.0,4829.0,2947.0,...,47.0,2930.0,2705.0,9425.0,2452.0,2378.0,4590.0,328.0,3634.0,199.0
3,4,3278.0,3046.0,5676.0,907.0,1587.0,3828.0,7249.0,4790.0,3280.0,...,88.0,2832.0,776.0,8443.0,2723.0,1573.0,4880.0,128.0,3847.0,310.0
4,5,3986.0,3816.0,5634.0,7574.0,1798.0,3980.0,7525.0,4859.0,3491.0,...,137.0,2932.0,3276.0,7357.0,1357.0,1560.0,5000.0,44.0,4157.0,687.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,950.0,2608.0,68.0,285.0,336.0,3616.0,30.0,44.0,116377.0,...,417.0,36.0,16890.0,7294.0,163.0,50.0,1103.0,211.0,64.0,161.0
79,80,107.0,2574.0,41.0,735.0,528.0,3959.0,54.0,64.0,115934.0,...,11469.0,60.0,16877.0,224.0,103.0,184.0,1202.0,1002.0,67.0,393.0
80,81,301.0,2528.0,38.0,435.0,709.0,3598.0,34.0,31.0,115567.0,...,11379.0,46.0,17207.0,6766.0,158.0,152.0,1543.0,106.0,47.0,115.0
81,82,44.0,2552.0,65.0,819.0,791.0,3816.0,17.0,73.0,112864.0,...,1522.0,42.0,16987.0,79.0,182.0,85.0,1688.0,196.0,172.0,340.0
82,83,15.0,2503.0,12.0,297.0,499.0,3747.0,69.0,332.0,116730.0,...,1689.0,37.0,16588.0,6637.0,90.0,174.0,1687.0,208.0,144.0,319.0

C:\Users\avasan\Anaconda3\envs\wound-compute-env\lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")